<h1>Receipt</h1>

<h3>Transaction <%= @result.transaction.id %></h3>

<dl>
  <dt>Amount</dt>
  <dd>$<%= @result.transaction.amount %></dd>
  <dt>Credit Card Charged</dt>
  <dd><%= @result.transaction.credit_card_details.masked_number %></dd>
</dl>

<%= debug @result.transaction %>
ss