<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content <%= "payment_options" if Settings.use_payment_options %>">
      <h3>Check out</h3>
      <p>
        All of your payment information will be secured and stored with Amazon Payments. If you don't have an Amazon account, simply select "I'm a new Customer" on the next page.
        <br />
        <br />
       <%= render "form" %>
    </div>
    <%= render 'preorder/checkout/sidebar' %>
  </div>
</div>
